* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

.promo {
  height: 800px;
  background: url(../img/bg/main_bg.jpg) center center/cover no-repeat;
  padding: 39px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

h1 {
  margin-top: 50px;
}

.title {
  font-family: 'Roboto';
  color: #f9bf3b;
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.simple .title_big {
  color: #ffffff;
  font-family: 'Roboto - Black';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

h2.title {
  margin-top: 20px;
}

.promo .promo_text {
  color: #ffffff;
  font-family: 'Roboto Light';
  font-weight: 300;
  font-size: 21px;
  line-height: 1.3;
  text-align: center;
  margin-top: 20px;
  padding: 0 13px;
}

.promo_text span {
  color: #f9bf3b;
  font-family: 'Roboto - Bold';
  font-weight: 700;
  text-decoration: uppercase;
}

.promo .promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 73px;
  color: #ffffff;
  font-family: 'RobotoCondensed';
  font-size: 21px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  width: 313px;
  height: 72px;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  cursor: pointer;
  outline: none;
}

.more {
  margin-top: 73px;
}

.more .more_text {
  color: #ffffff;
  font-family: 'Roboto - Thin';
  font-weight: 100;
  font-size: 15px;
  /* line-height: 1.6; */
  text-transform: uppercase;
  text-align: center;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.waiting {
  min-height: 607px;
  background: #efefef;
  padding: 88px 0 75px 0;
}

.waiting_title,
.finish_title {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
}

.waiting_divider,
.finish_divider {
  width: 220px;
  height: 4px;
  background: #f9bf3b;
  margin: 0 auto;
  margin-top: 18px;
}

.waiting_subtitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  color: #4a4a4a;
  margin-top: 18px;
}

.waiting_descr {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: #4a4a4a;
  margin-top: 26px;
}

.waiting_wrapper {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
}

.waiting_item {
  width: 342px;
}

.waiting_item .waiting_img {
  width: 100%;
}

.optimization {
  min-height: 550px;
  padding: 102px 0 107px 0;
}

.optimization_title {
  margin-left: 391px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #299cbd;
}

.optimization_text {
  margin-top: 25px;
  margin-left: 391px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 17px;
  line-height: 1.59;
  color: #4a4a4a;
}

.optimization_text span {
  font-family: 'Roboto';
  font-weight: 700;
}

.optimization_img {
  position: absolute;
  top: -54px;
  left: -240px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 79px 0;
  background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
}

.finish_title {
  color: #ffffff;
}

.finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.finish .finish_item {
  width: 234px;
}

.finish_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 115px;
  height: 115px;
  background: #b4e2ff;
  border-radius: 100%;
}

.finish_descr {
  margin-top: 25px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 17px;
  line-height: 1.18;
  color: #efefef;
}
